.nav {
    &-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
        background: red;
        padding: 20px 0;
        margin: 0;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $light-grey;
            }
        }
    }

    &-item {
        
    }
}
